.projectsPageContainer {
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.projectsContainer {
    width: 95vw;
    min-height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 18%);
    border-radius: 2px;
    margin-bottom: 10px;
    margin-left: 2.5vw;
  }

  .projectListContainer {
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    flex: 100 100;
    scrollbar-gutter: stable;
    background-color: #f7f7f7;
  
  }

  .eventButtons {
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 21px;
  }
  
  .headingContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .headingStyle {
    margin: 0 0 10px 0;
    font-weight: 600;
    color: #373A3B;
    font-size: 16px;
    line-height: 120%;
  }

  @media only screen and (max-width: 400px) {
    .projectsContainer {
      margin-left: 0;
    }
  }