.Wrapper {
    background-color: white;
    height: 85vh;
  }

  ._34SS0:nth-of-type(even) {
    background-color: #f5f5f5!;
  }
  
  /* Set the background color of odd rows to light green */
  ._34SS0:nth-of-type(odd) {
    background-color: white;
  }

  .ViewContainer {
    font-family: "Raleway, sans-serif";
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ViewModeButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .tooltipContainer {
    background: #fff;
    padding: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .tooltipContainerParagraph {
    font-size: 12px;
    margin-bottom: 6px;
    color: #666;
  }
  
  .tooltipDetailsContainer {
    position: absolute;
    display: flex;
    flex-shrink: 0;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .tooltipDetailsContainerHidden {
    visibility: hidden;
    position: absolute;
    display: flex;
    pointer-events: none;
  }
  