.projectDetailsPageContainer{
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.projectDetailContainer {
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    flex: 100 100;
    scrollbar-gutter: stable;
    background-color: #f7f7f7;
    padding-top: 2vh;
    align-items: center;
}

.projectDetailButtons{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width:30vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 0 !important;
    min-height: 15vh;
    justify-content: space-between;
}