.tooltipStyle{
    visibility: visible;
    user-select: none;
    box-sizing: border-box;
    /* border: 1px solid #1a192b; */
    border-radius: 7px;
    color: #222;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    width: 250px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.nodeHeader{
    display: flex;
    height: 48px;
    flex-direction: row;
    justify-content: space-between;
}

.nodeInfo{
    /* border-top: solid 1px black; */
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.phaseInfo{
    height:50px;
    background-color:#e9ebec;
}